In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [4]:
# information on the dataset. Be sure to print
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB
None

In [5]:
#to count number of rows
df.shape[0]

2160

In [6]:
#to count number of colums
df.shape[1]

12

In [7]:
# default () gives first 5 rows
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [8]:
df.Laptop.nunique()

2160

In [9]:
laptop_brand = len(pd.unique(df['Laptop']))

In [10]:
print(laptop_brand)

2160

In [18]:
#maximum in a column
df['Final Price'].max()

np.float64(7150.47)

In [24]:
#Data with only dell laptops
Dell = df[df.values == 'Dell']

In [29]:
#maximum price of a dell laptop
Dell['Final Price'].max()

np.float64(3936.0)

In [38]:
#median value in a column
med_screen = df['Screen'].median()
med_screen

np.float64(15.6)

In [42]:
#Calculate median without NaN values
df['Screen'].median(skipna=True)

np.float64(15.6)

In [44]:
#Calculate median with NaN values
df['Screen'].median(skipna=False)

nan

In [41]:
# mode of 'Screen' column
mod_screen = df['Screen'].mode()
mod_screen

0    15.6
Name: Screen, dtype: float64

In [47]:
# filling in missing values for 'Screen' with mode value and find median
df['Screen'].fillna(15.6).median()

np.float64(15.6)

In [50]:
#select all the 'Injoo' laptos
Innjoo = df[df.values =='Innjoo']
Innjoo

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [60]:
#select 'RAM', 'Storage' and 'Screen' columns
Innjoo_RSS = Innjoo[['RAM', 'Storage', 'Screen']]
Innjoo_RSS

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [62]:
#turn Innjoo_RSS into an a numpy array
X = Innjoo_RSS.to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [64]:
#calculate the transpose of X
T= X.T
T

array([[  8. ,   8. ,   4. ,   6. ,   6. ,   6. ],
       [256. , 512. ,  64. ,  64. , 128. , 128. ],
       [ 15.6,  15.6,  14.1,  14.1,  14.1,  14.1]])

In [65]:
#Compute matrix-matrix multiplication between X and T
XTX = XT
XTX

NameError: name 'XT' is not defined